body{
    background-color: gray;
}
#top{
    padding: 10px;
    background-color: #bca9ad ;
    font-size: large;
    width: 1290px;
    margin: auto;
    margin-top: 20px;
}
#es{
    margin-left: 40px;
}
header > p > span{
    margin: 15px;
}

.logo{
    grid-area: logo;
}
.p1 {
    grid-area: p1;
}
.p2 {
    grid-area: p2;
}
.p3 {
    grid-area: p3;
    margin:auto;
}
.p4 {
    grid-area: p4;
}
.p5 {
    grid-area: p5;
}
.p6 {
    grid-area: p6;
}

.p7 {
    grid-area: p7;
}

.p8 {
    grid-area: p8;
}

.p9 {
    grid-area: p9;
}

.p10 {
    grid-area: p10;
}
.p11 {
    grid-area: p11;
}

.p12 {
    grid-area: p12;
}

.p13 {
    grid-area: p13;
}

.p14 {
    grid-area: p14;
}

.p15 {
    grid-area: p15;
}
.p16 {
    grid-area: p16;
}

.p17 {
    grid-area: p17;
}

.p18 {
    grid-area: p18;
}

.p19 {
    grid-area: p19;
    margin: auto;
}

.p20 {
    grid-area: p20;
    margin: auto;
}
.text {
    grid-area: text;
    position: relative;
    top: 50px;
    text-align: right;
    color: brown;
}
.text > span{
    display: block;
    margin: 10px;
}
#props{
    position:relative;
    top: 40px;
}
.container{
    width: 1290px;
    border: 10px solid white;
    margin: auto;
    background-color: white;
    display:grid;
    gap: 10px;
    margin-bottom: 20px;
    grid-template-columns: 250px 250px 250px 250px 250px;
    grid-template-rows: 65px 76px 178px 380px 250px 150px 154px 150px;
    grid-template-areas: 
    "logo logo logo logo p1"
    "logo logo logo logo p2"
    "logo logo logo logo p3"
    "p4 p4 p5 p6 p7 "
    "p8 p9 p9 p10 p11"
    "p8 p13 p14 p14 p15"
    "p12 p13 p16 p17 p18"
    "p19 p20 . . text"
    ;
}
@media only screen and (max-width: 400px){
    #es {
            margin-left: 10px;
        }
    #top {
            padding: 0px;
            padding-top: 5px;
            padding-bottom: 2px;
            background-color:goldenrod;
            font-size: 11px;
            margin: 0;
            margin-top: 20px;
            max-width: 100%;
        }
    .container {
            width: fit-content;
            border: none;
            background-color: white;
            display: grid;
            gap: 3px;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: auto;
            grid-template-areas:
                "logo logo logo logo logo"
                "p1 p19 p20 p20 p3 "
                "p2 p19 p20 p20 p3"
                "p4 p4 p5 p6 p7 "
                "p8 p9 p9 p10 p11"
                "p8 p13 p14 p14 p15"
                "p12 p13 p16 p17 p18"
                "text text text text text"
            ;
        }
        #props {
            position: relative;
            top: 10px;
        }
        .text {
            grid-area: text;
            position: relative;
            top: 0px;
            text-align: left;
            color: black;
            background-color: goldenrod;
        }
        .text>span {
            font-size: small;
            display: inline;
            margin: 0px;
        }
        .logo >img{
            grid-area: logo;
            max-width: 100%;
        }
    
        .p1 >img{
            grid-area: p1;
            max-width: 100%;
        }
    
        .p2 > img{
            
            max-width: 100%;
        }
    
        .p3 >img{
            
            max-width: 100%

        }
    
        .p4 >img{
            max-width: 100%
        }
    
        .p5 >img{
            max-width: 100%
        }
    
        .p6 >img{
            max-width: 100%
        }
    
        .p7 >img{
            max-width: 100%
        }
    
        .p8 >img{
            max-width: 100%
        }
    
        .p9 >img{
            max-width: 100%
        }
    
        .p10 >img{
            max-width: 100%
        }
    
        .p11 >img{
            max-width: 100%
        }
    
        .p12 >img{
            max-width: 100%
        }
    
        .p13 >img{
            max-width: 100%
        }
    
        .p14 >img{
            max-width: 100%
        }
    
        .p15 >img{
            max-width: 100%
        }
    
        .p16 >img{
            max-width: 100%
        }
    
        .p17 >img{
            max-width: 100%
        }
    
        .p18 >img{
            max-width: 100%
        }
    
        .p19 >img{
            max-width: 100%

        }
    
        .p20 > img{
            max-width: 100%

        }
}